html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(-80deg, #00f2fe, #ac6ff1, #ff5100);
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


    .registro-container {
      height: 120vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .card-registro {
      max-width: 1000px;
      width: 100%;
      border-radius: 12px;
      overflow: hidden;
      background-color: #fff;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    }

    .carousel-item img {
      object-fit: cover;
      height: 100%;
    }

    .formulario {
  padding: 40px 30px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
}


    @media (max-width: 768px) {
      .registro-left {
        display: none;
      }
    }
    